.header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	padding-top: 62px;
	padding-bottom: 62px;
	transition: padding 0.3s ease;
	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		@media (max-width: $md2+px) {
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
		}
		@media (max-width: $md3+px) {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
		}
	}

	&__logo {
		margin-right: 100px;
		@media (max-width: $md2+px) {
			margin-bottom: 40px;
		}
		@media (max-width: $md3+px) {
			margin-right: 40px;
			margin-bottom: 0;
		}
	}

	&__nav {
		margin-right: 20px;
		@include maxwidth(1100) {
			margin-right: 0;
		}
	}

	&__social {
		margin-right: 0;
		margin-left: auto;
		@include maxwidth(1100) {
			display: none !important;
		}
	}

	&__burger {
		display: none;
		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&--fixed {
		padding-top: 22px;
		padding-bottom: 22px;

		background-color: #191919;
		transition: background-color 0.3s ease, padding 0.3s ease;
	}
}
