:root {
	--color-white: #fff;
	--color-green: #1abc0f;
}

/* .light-theme {
	--color-bg: #fff;
}

.dark-theme {
	--color-bg: #191919;
} */

$fz-text: 22px;
$fz-heading: 50px;

$ff: "Roboto", sans-serif;

$minWidth: 320;
$maxWidth: 1920; // Разрешение макета
$maxWidthContainer: 1200; // Разрешение контейнера

$md1: $maxWidthContainer + 15; //desktop
$md2: 991.98; // Tablet
$md3: 767.98; // Mobile #1
$md4: 479.98; // Mobile #2
