.main-text {
	color: var(--color-white);
	font-family: $ff;
	font-weight: 400;

	&--lg {
		font-size: 22px;
		line-height: 26px;
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}
	&--sm {
		font-size: 15px;
		line-height: 18px;
	}
}
