<section class="faq" id="faq">
	<div class="faq__container container">
		<h2 class="faq__heading main-heading text-reset">Часто задаваемые вопросы</h2>
		<ul class="faq__accordion accordion list-reset">
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text main-text--lg btn-reset" aria-expanded="false">
						Для чего нужен QR-код и&nbsp;как им&nbsp;воспользоваться?
					</button>
				</h3>
				<div class="accordion__body accordion__body--hidden" aria-hidden="true">
					<p class="accordion__content main-text main-text--sm text-reset">
						Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут, рыбные тексты. Своего реторический сбить заманивший себя злых он&nbsp;назад безопасную всемогущая?
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text main-text--lg btn-reset" aria-expanded="false">
						Можно&nbsp;ли не&nbsp;оплачивать чаевые, а&nbsp;просто оставить отзыв через &laquo;нетмонет&raquo;?
					</button>
				</h3>
				<div class="accordion__body accordion__body--hidden" aria-hidden="true">
					<p class="accordion__content main-text main-text--sm text-reset">
						Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут, рыбные тексты. Своего реторический сбить заманивший себя злых он&nbsp;назад безопасную всемогущая?
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text main-text--lg btn-reset" aria-expanded="false">
						Куда попадают чаевые, оплаченные через &laquo;нетмонет&raquo;?
					</button>
				</h3>
				<div class="accordion__body accordion__body--hidden" aria-hidden="true">
					<p class="accordion__content main-text main-text--sm text-reset">
						Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут, рыбные тексты. Своего реторический сбить заманивший себя злых он&nbsp;назад безопасную всемогущая?
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text main-text--lg btn-reset" aria-expanded="false">
						Как происходит подключение к&nbsp;платформе &laquo;нетмонет&raquo;?
					</button>
				</h3>
				<div class="accordion__body accordion__body--hidden" aria-hidden="true">
					<p class="accordion__content main-text main-text--sm text-reset">
						Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут, рыбные тексты. Своего реторический сбить заманивший себя злых он&nbsp;назад безопасную всемогущая?
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text main-text--lg btn-reset" aria-expanded="false">
						Какие условия сотрудничества? Сколько стоит подключение?
					</button>
				</h3>
				<div class="accordion__body accordion__body--hidden" aria-hidden="true">
					<p class="accordion__content main-text main-text--sm text-reset">
						Подключение бесплатно. Платформа &laquo;нетмонет&raquo; удерживает комиссию&nbsp;5% от&nbsp;суммы чаевых. Больше никаких скрытых комиссий и&nbsp;минимальных сумм у&nbsp;нас нет.
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>