<footer class="footer" id="footer">
	<div class="footer__container container">
		<div class="footer__column">
			<a class="footer__logo link-reset">
				<img class="footer__logo-img logo" src="img/logo.png" alt="Логотип комании 'НЕТМОНЕТ'">
			</a>
			<ul class="footer__list list-reset">
				<li class="footer__item">
					<a href="#pluses" class="footer__link link-reset main-text main-text--sm" data-scroll>
						Преимущества
					</a>
				</li>
				<li class="footer__item">
					<a href="#simple" class="footer__link link-reset  main-text main-text--sm" data-scroll>
						Принцип работы
					</a>
				</li>
				<li class="footer__item">
					<a href="#platform" class="footer__link link-reset  main-text main-text--sm" data-scroll>
						Адаптация
					</a>
				</li>
				<li class="footer__item">
					<a href="#faq" class="footer__link link-reset  main-text main-text--sm" data-scroll>
						FAQ
					</a>
				</li>
				<li class="footer__item">
					<a href="#settings" class="footer__link link-reset  main-text main-text--sm" data-scroll>
						Поддержка
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__column">
			<h3 class="footer__heading main-text main-text--lg text-reset">
				Контакты
			</h3>
			<ul class="footer__list list-reset">
				<li class="footer__item">
					<a href="#settings" class="footer__link link-reset main-text main-text--sm" data-scroll>
						Подключение к системе
					</a>
				</li>
				<li class="footer__item">
					<a href="tel:79261363663" class="footer__link link-reset  main-text main-text--sm">
						+7 (926) 136-36-63
					</a>
				</li>
				<li class="footer__item">
					<a href="mailto:business@netmonet.co" target="_blank" class="footer__link link-reset  main-text main-text--sm">
						business@netmonet.co
					</a>
				</li>
				<li class="footer__item">
					<ul class="footer__social social list-reset">
						<li class="social__item">
							<a href="#" class="social__link link-reset" aria-label="Наша группа вконтакте">
								<svg>
									<use xlink:href="img/sprite.svg#vk"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link link-reset" aria-label="Наш Инстаграм">
								<svg>
									<use xlink:href="img/sprite.svg#insta"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link link-reset" aria-label="Наш канал на ютюб">
								<svg>
									<use xlink:href="img/sprite.svg#YT"></use>
								</svg>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="footer__column">
			<h3 class="footer__heading main-text main-text--lg text-reset">
				Информация
			</h3>
			<ul class="footer__list list-reset">
				<li class="footer__item">
					<a href="#" class="footer__link link-reset main-text main-text--sm">
						Политика конфиденциальности
					</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__link link-reset  main-text main-text--sm">
						Условия пользования
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__row">
			<h3 class="visually-hidden">Спонсоры</h3>
			<ul class="footer__sponsor-list list-reset">
				<li class="footer__sponsor-item">
					<img src="img/footer1.png" alt="БестТуПэй" class="footer__image">
				</li>
				<li class="footer__sponsor-item">
					<img src="img/footer2.png" alt="БестТуПэй" class="footer__image">
				</li>
				<li class="footer__sponsor-item">
					<img src="img/footer3.png" alt="БестТуПэй" class="footer__image">
				</li>
				<li class="footer__sponsor-item">
					<img src="img/footer4.png" alt="БестТуПэй" class="footer__image">
				</li>
			</ul>
		</div>
		<small class="footer__copy main-text--sm main-text">
			© 2021 - нетмонет.ру. Все права защищены.
		</small>
	</div>
</footer>