<header class="header fixed-padding" id="header">
	<div class="header__container container">
		<a class="header__logo link-reset">
			<img class="header__logo-img logo" src="img/logo.png" alt="Логотип комании 'НЕТМОНЕТ'">
		</a>
		<button class="header__burger burger btn-reset" aria-expanded="false" aria-controls="nav" aria-label="Открыть меню">
			<span class="burger__line">
			</span>
		</button>
		<nav class="header__nav nav" id="nav">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#pluses" class="nav__link link-reset main-text main-text--sm">
						Преимущества
					</a>
				</li>
				<li class="nav__item">
					<a href="#simple" class="nav__link link-reset  main-text main-text--sm">
						Принцип работы
					</a>
				</li>
				<li class="nav__item">
					<a href="#platform" class="nav__link link-reset  main-text main-text--sm">
						Адаптация
					</a>
				</li>
				<li class="nav__item">
					<a href="#faq" class="nav__link link-reset  main-text main-text--sm">
						FAQ
					</a>
				</li>
				<li class="nav__item">
					<a href="#settings" class="nav__link link-reset  main-text main-text--sm">
						Поддержка
					</a>
				</li>
			</ul>
		</nav>
		<ul class="header__social social list-reset">
			<li class="social__item">
				<a href="https://coderoad.ru/46919627/%D0%9C%D0%BE%D0%B6%D0%BD%D0%BE-%D0%BB%D0%B8-%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%B8%D1%82%D1%8C-%D1%81%D0%BE%D0%B2%D0%BC%D0%B5%D1%81%D1%82%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C-%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80%D0%B0-scrollIntoView" class="social__link link-reset" target="_blank" aria-label="Наша группа вконтакте">
					<svg>
						<use xlink:href="img/sprite.svg#vk"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="/" class="social__link link-reset" target="_blank" aria-label="Наш Инстаграм">
					<svg>
						<use xlink:href="img/sprite.svg#insta"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="/" class="social__link link-reset" target="_blank" aria-label="Наш канал на ютюб">
					<svg>
						<use xlink:href="img/sprite.svg#YT"></use>
					</svg>
				</a>
			</li>
		</ul>

	</div>
</header>