<header class="header fixed-padding" id="header">
	<div class="header__container container">
		<a class="header__logo link-reset">
			<img class="header__logo-img logo" src="img/logo.png" alt="Логотип комании 'НЕТМОНЕТ'">
		</a>
		<button class="header__burger burger btn-reset" aria-expanded="false" aria-controls="nav" aria-label="Открыть меню">
			<span class="burger__line">
			</span>
		</button>
		<nav class="header__nav nav" id="nav">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#pluses" class="nav__link link-reset main-text main-text--sm" data-scroll>
						Преимущества
					</a>
				</li>
				<li class="nav__item">
					<a href="#simple" class="nav__link link-reset  main-text main-text--sm" data-scroll>
						Принцип работы
					</a>
				</li>
				<li class="nav__item">
					<a href="#platform" class="nav__link link-reset  main-text main-text--sm" data-scroll>
						Адаптация
					</a>
				</li>
				<li class="nav__item">
					<a href="#faq" class="nav__link link-reset  main-text main-text--sm" data-scroll>
						FAQ
					</a>
				</li>
				<li class="nav__item">
					<a href="#settings" class="nav__link link-reset  main-text main-text--sm" data-scroll>
						Поддержка
					</a>
				</li>
			</ul>
		</nav>
		<ul class="header__social social list-reset">
			<li class="social__item">
				<a href="#" class="social__link link-reset" aria-label="Наша группа вконтакте">
					<svg>
						<use xlink:href="img/sprite.svg#vk"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link link-reset" aria-label="Наш Инстаграм">
					<svg>
						<use xlink:href="img/sprite.svg#insta"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link link-reset" aria-label="Наш канал на ютюб">
					<svg>
						<use xlink:href="img/sprite.svg#YT"></use>
					</svg>
				</a>
			</li>
		</ul>

	</div>
</header>