<section class="hero" id="hero">
	<div class="hero__container container">
		<div class="hero__info">
			<ul class="hero__social social list-reset">
				<li class="social__item">
					<a href="https://vk.com/" class="social__link link-reset" target="_blank" aria-label="Наша группа вконтакте">
						<svg>
							<use xlink:href="img/sprite.svg#vk"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="https://www.instagram.com/" class="social__link link-reset" target="_blank" aria-label="Наш Инстаграм">
						<svg>
							<use xlink:href="img/sprite.svg#insta"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="https://www.youtube.com/" class="social__link link-reset" target="_blank" aria-label="Наш канал на ютюб">
						<svg>
							<use xlink:href="img/sprite.svg#YT"></use>
						</svg>
					</a>
				</li>
			</ul>
			<h1 class="hero__heading text-reset main-heading animate-item" data-delay="0.2" data-animation='from-left' data-animation-once>
				Принимайте чаевые картой по&nbsp;QR‑коду
				<span class="main-text main-text--lg">
					Платформа &laquo;нетмонет&raquo; позволяет Гостю удобно оставить отзыв и&nbsp;отблагодарить персонал банковской картой
				</span>
			</h1>
			<div class="hero__links">
				<a href="#" class="hero__link main-btn main-btn--green link-reset animate-item" data-animation='from-left' data-delay="0.6" data-animation-once>
					Подключить заведение
				</a>
				<a href="#" class="hero__link main-btn main-btn--transparent link-reset animate-item" data-animation='from-left' data-delay="0.4" data-animation-once>
					Оставить чаевые
				</a>
			</div>
		</div>
		<div class="hero__block-image animate-item" data-animation='from-right' data-delay="0.2" data-animation-once>
			<img src="img/hero-Phones.png" aria-hidden="true" alt="" class="hero__img">
		</div>
	</div>
</section>