<section class="simple">
	<div class="simple__container container">
		<h2 class="simple__heading main-heading text-reset">
			Адаптируем платформу для вас
		</h2>
		<div class="simple__swiper simple__swiper--platform swiper" data-mobile='false'>
			<ul class="swiper__wrapper list-reset">
				<li class="swiper__slide slide">
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Иностранные гости увидят интерфейс на&nbsp;своём языке</p>
				</li>
				<li class="swiper__slide slide">
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Личный профиль сотрудника</p>
				</li>
				<li class="swiper__slide slide">
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Адаптированный дизайн в&nbsp;стиле заведения</p>
				</li>
			</ul>
			<div class="swiper__pagination"></div>
		</div>
	</div>
</section>