<section class="simple" id="platform">
	<div class="simple__container container">
		<h2 class="simple__heading main-heading text-reset animate-item" data-animation='from-bottom' data-delay="0" data-animation-once>
			Адаптируем платформу для вас
		</h2>
		<div class="simple__swiper simple__swiper--platform swiper" data-mobile='false'>
			<ul class="swiper__wrapper list-reset">
				<li class="swiper__slide slide animate-item" data-animation='from-bottom' data-delay="0" data-animation-once>
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Иностранные гости увидят интерфейс на&nbsp;своём языке</p>
				</li>
				<li class="swiper__slide slide animate-item" data-animation='from-bottom' data-delay="0.15" data-animation-once>
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Личный профиль сотрудника</p>
				</li>
				<li class="swiper__slide slide animate-item" data-animation='from-bottom' data-delay="0.3" data-animation-once>
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Адаптированный дизайн в&nbsp;стиле заведения</p>
				</li>
			</ul>
			<div class="swiper__pagination"></div>
		</div>
	</div>
</section>