<section class="pluses">
	<div class="pluses__container container">
		<h2 class="pluses__heading text-reset main-heading">Преимущества для заведения</h2>
		<ul class="pluses__list list-reset">
			<li class="pluses__item pluses-item pluses-item--tip">
				<div class="pluses-item__info">
					<h3 class="pluses-item__heading text-reset main-text main-text--lg">Чаевые</h3>
					<p class="pluses-item__text text-reset  main-text main-text--sm">До&nbsp;+30% дополнительных чаевых для персонала</p>
				</div>
			</li>
			<li class="pluses__item pluses-item pluses-item--analitic">
				<div class="pluses-item__info">
					<h3 class="pluses-item__heading text-reset main-text main-text--lg">Аналитика</h3>
					<p class="pluses-item__text text-reset  main-text main-text--sm">Дополнительный доход с&nbsp;моментальными выплатами</p>
				</div>
			</li>
			<li class="pluses__item pluses-item pluses-item--guest">
				<div class="pluses-item__info">
					<h3 class="pluses-item__heading text-reset main-text main-text--lg">Лояльность гостей</h3>
					<p class="pluses-item__text text-reset  main-text main-text--sm">Моментально реагируйте на&nbsp;обратную связь от&nbsp;Гостей</p>
				</div>
			</li>

		</ul>
		<div class="pluses__links">
			<a href="#" class="pluses__link link-reset main-text main-text--sm">Презентация для <strong> Салонов красоты</strong></a>
			<a href="#" class="pluses__link link-reset main-text main-text--sm">Презентация для <strong> Ресторанов</strong></a>
		</div>
	</div>
</section>