<section class="settings" id="settings">
	<div class="settings__container container">
		<h2 class="settings__heading main-heading text-reset">
			Лёгкая и быстрая настройка
		</h2>
		<p class="settings__text main-text main-text--lg text-reset">
			Платформа не&nbsp;требует доступа к&nbsp;конфиденциальным данным заведения.
		</p>
		<p class="settings__text main-text main-text--lg text-reset">
			Мы&nbsp;поможем на&nbsp;каждом этапе работы:
		</p>
		<ul class="settings__list list-reset">
			<li class="settings__item main-text main-text--lg">
				Настройка пречека &laquo;под-ключ&raquo; без глубокой интеграции
			</li>
			<li class="settings__item main-text main-text--lg">
				Обучим менеджмент и&nbsp;сотрудников за&nbsp;30&nbsp;минут
			</li>
			<li class="settings__item main-text main-text--lg">
				Поддержка пользователей
			</li>
		</ul>
		<a href="#" class="settings__link main-btn main-btn--green link-reset">
			Подключить заведение
		</a>
	</div>
</section>