<section class="simple" id="simple">
	<div class="simple__container container">
		<h2 class="simple__heading main-heading text-reset animate-item" data-animation='from-bottom' data-delay="0" data-animation-once>
			Просто и понятно
		</h2>
		<div class="simple__swiper swiper" data-mobile='false'>
			<ul class="swiper__wrapper list-reset">
				<li class="swiper__slide slide animate-item" data-animation='from-bottom' data-delay="0" data-animation-once>
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Наведите камеру на QR-код в чеке или на визитке</p>
				</li>
				<li class="swiper__slide slide animate-item" data-animation='from-bottom' data-delay="0.15" data-animation-once>
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Выберите сумму чаевых и&nbsp;оставьте отзыв</p>
				</li>
				<li class="swiper__slide slide animate-item" data-animation='from-bottom' data-delay="0.3" data-animation-once>
					<img src="img/phone.png" alt="" class="slide__image">
					<p class="slide__text main-text main-text--lg   text-reset">Оплатите в&nbsp;касание или банковской картой</p>
				</li>
			</ul>
			<div class="swiper__pagination"></div>
		</div>
		<p class="simple__text main-text main-text--sm  text-reset animate-item" data-animation='from-bottom' data-delay="0" data-animation-once>
			Гости оставляют чаевые за&nbsp;несколько секунд.
			Без установки приложения.
		</p>
	</div>
</section>