.simple {
	padding: 120px 0;
	overflow: hidden;
	background-color: var(--color-black);

	@media (max-width: $md3+px) {
		padding: 100px 0;
	}
	@media (max-width: $md4+px) {
		padding: 80px 0;
	}

	&__container {
	}

	&__heading {
		margin-bottom: 80px;
		@media (max-width: $md4+px) {
			margin-bottom: 60px;
		}
	}

	&__swiper {
		margin-bottom: 30px;
		&--platform {
			margin-bottom: 0;
		}
	}

	&__text {
		max-width: 400px;
		margin: 0 auto;

		color: var(--color-green);
		text-align: center;
	}
}
