.burger {
	position: relative;
	z-index:1;

	width: 30px;
	height: 20px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 2px;

		background-color: var(--color-white);
		transition: transform 0.3s ease, top 0.3s ease;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 2px;

		background-color: var(--color-white);
		transition: transform 0.3s ease, bottom 0.3s ease;
	}
	&__line {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--color-white);
		transform: translateY(-50%);
		transition: opacity 0.3s ease;
	}
	&--active {
		&::before {
			top: 9px;
			transform: rotate(-45deg);
			transition: transform 0.3s ease, top 0.3s ease;
		}
		&::after {
			bottom: 9px;
			transform: rotate(45deg);
			transition: transform 0.3s ease, bottom 0.3s ease;
		}
		span {
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	}
}
