.nav {
	&__list {
		display: flex;
		align-items: center;
		@include maxwidth(1100) {
			justify-content: space-between;
		}
		@media (max-width: $md3+px) {
			flex-direction: column;

			padding: 60px 40px;
			.header--fixed & {
				padding: 22px 40px;
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-right: 50px;
			@media (max-width: $md3+px) {
				margin-right: 0;
				margin-bottom: 40px;
			}
		}
	}

	&__link {
		display: inline-block;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-green);
				transition: color 0.3s ease;
			}
		}
	}
	@media (max-width: $md3+px) {
		position: fixed;
		top: 0;
		left: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;
		min-height: 100vh;
		overflow-y: auto;
		visibility: hidden;

		background-color: rgba(26, 50, 54, 0.95);

		will-change: transform;
		transform: translateX(100%);
		transition: transform 0.3s ease 0.1s, visibility 0.3s ease 0.1s;
	}
	&--active {
		visibility: visible;
		transform: translateX(0);
		transition: transform 0.3s ease 0.1s, visibility 0.3s ease 0.1s;
	}
}
