.social {
	display: flex;
	align-items: center;
	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__link {
		display: inline-block;
		width: 30px;
		height: 18px;

		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
			fill: var(--color-white);
			transition: fill 0.3s ease;
		}
		&--hero {
			width: 40px;
			height: 24px;
		}
		@media (any-hover: hover) {
			&:hover {
				svg {
					fill: var(--color-green);
					transition: fill 0.3s ease;
				}
			}
		}
	}
}
