.swiper {
	position: relative;
	z-index: 1;

	width: 100%;
	@media (max-width: $md3+px) {
		padding-bottom: 30px;
	}

	&__pagination {
		position: absolute;
		bottom: 0px;
		left: 50%;
		z-index: 2;

		display: none;

		transform: translateX(-50%);
		& .swiper-pagination-bullet {
			display: block;

			width: 30px;
			height: 2px;

			background-color: var(--color-white);

			cursor: pointer;
			transition: background-color 0.3s ease;
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		& .swiper-pagination-bullet-active {
			background-color: var(--color-green);
			transition: background-color 0.3s ease;
		}
		@media (max-width: $md3+px) {
			display: flex;
		}
	}

	&__wrapper {
		display: flex;

		width: 100%;
		height: 100%;
	}
	&__slide {
		flex-shrink: 0;
		@include minwidth(769) {
			position: relative;
			flex: 0 0 calc(33.33% - 13.33px);
			&:not(:last-child) {
				margin-right: 20px;
			}
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;

				width: 10px;
				height: 10px;

				background-color: var(--color-green);
				border-radius: 50%;
				transform: translate(-100%, -35px);
			}
			&:last-child {
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;

					width: 10px;
					height: 10px;

					background-color: var(--color-green);
					border-radius: 50%;
					transform: translate(100%, -35px);
				}
			}
		}
	}
}
